<!DOCTYPE html>
<html>
    <div id="root">
        <head lang="ja">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Step to Goal</title>
    </head>
    <body>
        <h1>あなたの理想を入力してください</h1>
    </body>
    <form method="post">            <!--ここらへんよく分かってないけどうまくいった-->
        {% csrf_token %}    <!--これを入れないとエラーが出る-->
        {{ form.as_p }}
        <div>
            <label for="id_name">名前:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_content">あなたの理想:</label>
            {{ form.content }}
        </div>
        <button type="submit">OK</button>
    </form>
    </div>
</html>